body{
    background: #696e9e;
}

.sticker{
    padding: 25px;
    background: #FFFFFF;
    min-width: 100px;
    min-height: 100px;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #34b399;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    
}

.sticker .bar{
    position: absolute;
    top:0;
    left: 0;
    height: 25px;
    background: #34b399;
    width: 100%;
}

.sticker textarea{
    padding: 3px 10px;
    box-sizing: border-box;
    min-width: 100px;
    min-height: 100px;
    background: transparent;
    border: none;
}

.sticker .bar:hover{
    cursor: move;
}

.sticker:hover {
  z-index: 1;
}
